body{
    background-color: #0d87eb;
    font: normal 15pt Arial;
}

header,
footer{
    text-align: center;
    color: white;
}

section{
    margin: auto;
    width: 600px;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.308);
}

select#flista{
    width: 200px;
}